<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="classes" name="Project2Suite">
  <test thread-count="30" parallel="false" name="Test">
    <classes>
      <class name="testcases.UITests"/>
      <class name="testcases.FunctionalTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Project2Suite -->
